@{
    ViewData["Title"] = "AccountAsIndividual";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/fevicon.png" type="">

    <title> Customer Login </title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrapcss/bootstrap.min.css" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/Accountinfo/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/Accountinfo/responsive.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light shadow">
            <div class="container-fluid">
                <a href="@Url.Action("Index","Home")"><img class="logo-style ms-5" src="/images/Logo.png" alt=""> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto rounded">
                       @*  <li class="nav-item">
                            <a class="nav-link mx-2" href="/Dashboard.html" style="color: #092f57;">DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="/Request.html" style="color: #092f57;">REQUEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">PAYMENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">CUSTOMER SUPPORT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">MANAGE PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#" style="color: #092f57;">
                                LOGOUT <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="bg-container d-none d-md-flex">
            <div class="left-box">
                <img src="/images/BG5.jpg" class="rounded-start rounded-pill img-style" alt="">
            </div>
            <div class="right-box py-5">
                @Html.Partial("_Messages")
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%; background-color: #44D62C;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="step-container d-flex justify-content-between">
                    <div class="step-circle" onclick="displayStep(1)">1</div>
                    <div class="step-circle" onclick="displayStep(2)">2</div>
                    <div class="step-circle" onclick="displayStep(3)">3</div>
                    @* <div class="step-circle" onclick="displayStep(4)">4</div>
                    <div class="step-circle" onclick="displayStep(5)">5</div> *@
                </div>
                <form method="post" action="@Url.Action("AccountAsIndividual","Home")">
                    <div class="step step-1 ">
                        <!-- Step 1 form fields here -->
                        <div class="input-style">

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">First Name</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="FirstName" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Last Name</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="LastName" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Nationality</span>
                            <div class="input-group">
                                @* <input type="text" name="Nationality"  class="form-control rounded-pill" style="border: 1px solid #8FD2F0;"> *@
                                <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></span>
                                <select class="form-control rounded-start rounded-pill" placeholder="Select" required name="Nationality" style="border: 1px solid #8FD2F0;" id="Nationality">
                                    <option value="">Select a request Id</option>
                                    @{
                                        <option value="">project</option>
                                        foreach (var item in (List<SelectListItem>)ViewBag.Countries)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>

                           @*  <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Passport Number</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="Passport-number" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Passport Expiry Date</span>
                            <div class="input-group">
                                <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Date.png" alt="" class="icon-image"></span>
                                <input type="text" placeholder="9/5/2024" name="Passport-ExpiryDate" class="form-control rounded-start rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div> *@
                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                Primary Phone Number
                            </span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="MobileNumber1" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                Secondary Phone Number
                            </span>
                            <div class="input-group">
                                <input type="text" name="MobileNumber2" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Email Address Primary</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="EmailAddress1" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                Email Address Secondary
                            </span>
                            <div class="input-group">
                                <input type="text" name="EmailAddress2" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>
                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                Create your Password
                            </span>
                            <div class="input-group">
                                <input type="password" placeholder="Required" name="Password" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <div class="btn-container my-3">
                                <button type="button" class="btn rounded-pill backbtn-style prev-step">Back</button>
                                <button type="submit" class="btn rounded-pill btn-style next-step">Next</button>
                            </div>
                        </div>


                    </div>
                </form>

                @* <div class="step step-2">
                    <!-- Step 2 form fields here -->

                    <div class="input-style">

                        <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                            Create your Password</span>
                                <div class="input-group">
                                    <input type="text" placeholder="Required" name="Create-password" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                </div>

                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                    Confirm your Password</span>
                                        <div class="input-group">
                                            <input type="text" placeholder="Required" name="Confirm-password" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                        </div>

                                        <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                            Primary Phone Number</span>
                                                <div class="input-group">
                                                    <input type="text" placeholder="Required" name="Primary-phoneNumber" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                </div>

                                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                    Email Address Secondary</span>
                                                        <div class="input-group">
                                                            <input type="text" placeholder="Alternate Email Address" name="Email-addressSecondary" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                        </div>

                                                        <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                            Secondary Phone Number</span>
                                                                <div class="input-group">
                                                                    <input type="text" name="Secondary-phoneNumber" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                                </div>

                                                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                                    Residency Status<span>
                                                                        <form>
                                                                            <select name="regType" id="options" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                                                <option>-- Select Any Option -- </option>
                                                                                <option>Resident</option>
                                                                                <option>Non Resident</option>
                                                                            </select>
                                                                        </form>

                                                                        <div class="btn-container my-3">
                                                                            <button type="button" class="btn rounded-pill backbtn-style prev-step">Back</button>
                                                                            <button type="button" class="btn rounded-pill btn-style next-step">Next</button>
                                                                        </div>
                    </div>
                </div>
                <div class="step step-3">
                    <!-- Step 3 form fields here -->

                    <div class="input-style">

                        <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                            Emirates Id Number<span>
                                <div class="input-group">
                                    <input type="text" name="Emirate-idNumber" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                </div>

                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Emirates Id Expiry Date</span>
                                <div class="input-group">
                                    <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Date.png" alt="" class="icon-image"></span>
                                    <input type="text" placeholder="mm/dd/yy" name="Passport-ExpiryDate" class="form-control rounded-start rounded-pill" style="border: 1px solid #8FD2F0;">
                                </div>

                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Address</span>
                                <div class="input-group">
                                    <input type="text" name="Address" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                </div>

                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Emirate</span>
                                <div class="input-group">
                                    <input type="text" name="Emirate" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                </div>

                                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">P.O. Box</span>
                                <div class="input-group">
                                    <input type="text" name="PO-box" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                </div>

                                <div class="btn-container my-3">
                                    <button type="button" class="btn rounded-pill backbtn-style prev-step">Back</button>
                                    <button type="button" class="btn rounded-pill btn-style next-step">Next</button>
                                </div>
                    </div>
                </div> *@
                <div class="step step-2 mt-5 pt-5" style=" white-space: nowrap;">
                    <!-- Step 4 form fields here -->
                    <p style="color: #03213d; font-weight: bold;">Please check your email for verification link</p>
                    <div class="ms-3" style="color: #03213d; font-size: small;">Press the click here button for verify</div>
                    <button type="button" class="btn rounded-pill btn-style1 next-step">Click here</button>
                    <footer class="pt-5 mt-5 ms-2" style="color: #03213d;">Please close this window. <br> You will be resumed from the resumption link</footer>
                </div>

                <div class="step step-3" style=" white-space: nowrap;">
                    <!-- Step 5 form fields here -->
                    <p class="mt-4" style="color: #03213d; font-size: 20px;">Congratulations, your customer ID <br> has been generated.</p>
                    <button type="button" class="btn rounded-pill btn-style1 next-step">C-XXXX</button>

                    <p class="mt-5" style="color: #03213d; font-size: 20px;">Please proceed with <br> Move in Request to the property.</p>
                    <a href="@Url.Action("login")" class="btn rounded-pill btn-style1">Move in Request</a>

                </div>

            </div>
        </div>



        <!--Mobile design-->
        <div class="mb-container d-md-none">
            <div class="mbimage-style1 ">
                <div class="box rounded shadow-lg">
                    <div class="custstep custstep-1">
                        <!-- Step 1 form fields here -->
                        <div class="mbinput-style">

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">First Name</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="First-name" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Last Name</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="Last-number" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Nationality</span>
                            <div class="input-group">
                                <input type="text" name="Nationality" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Passport Number</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="PassportNumber" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Passport Expiry Date</span>
                            <div class="input-group">
                                <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Date.png" alt="" class="icon-image"></span>
                                <input type="text" placeholder="9/5/2024" name="PassportExpiryDate" class="form-control rounded-start rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Email Address Primary</span>
                            <div class="input-group">
                                <input type="text" placeholder="Required" name="EmailAddress1" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                            </div>


                            <div class="btn-container my-3">
                                <button type="button" class="btn rounded-pill backbtn-style cust-prev-step">Back</button>
                                <button type="button" class="btn rounded-pill btn-style cust-next-step">Next</button>
                            </div>
                        </div>


                    </div>


                    <div class="custstep custstep-2">
                        <!-- Step 2 form fields here -->

                        <div class="mbinput-style">

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                Create your Password<span>
                                    <div class="input-group">
                                        <input type="text" placeholder="Required" name="Password" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                    </div>

                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                        Confirm your Password<span>
                                            <div class="input-group">
                                                <input type="text" placeholder="Required" name="ConfirmPassword" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                            </div>

                                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                Primary Phone Number<span>
                                                    <div class="input-group">
                                                        <input type="text" placeholder="Required" name="MobileNumber1" required class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                    </div>

                                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                        Email Address Secondary<span>
                                                            <div class="input-group">
                                                                <input type="text" placeholder="Alternate Email Address" name="EmailAddress2" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                            </div>

                                                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                                Secondary Phone Number<span>
                                                                    <div class="input-group">
                                                                        <input type="text" name="MobileNumber2" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                                    </div>

                                                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                                                        Residency Status<span>
                                                                            <form>
                                                                                <select name="Resident" required id="options" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                                                                    <option>-- Select Any Option -- </option>
                                                                                    <option>Resident</option>
                                                                                    <option>Non Resident</option>
                                                                                </select>
                                                                            </form>

                                                                            <div class="btn-container my-3">
                                                                                <button type="button" class="btn rounded-pill backbtn-style cust-prev-step">Back</button>
                                                                                <button type="button" class="btn rounded-pill btn-style cust-next-step">Next</button>
                                                                            </div>
                        </div>
                    </div>
                    <div class="custstep custstep-3">
                        <!-- Step 3 form fields here -->

                        <div class="mbinput-style">

                            <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">
                                Emirates Id Number<span>
                                    <div class="input-group">
                                        <input type="text" name="IdNumber" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                    </div>

                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Emirates Id Expiry Date</span>
                                    <div class="input-group">
                                        <span class="input-group-text rounded-pill rounded-end"><img src="~/Icons/Date.png" alt="" class="icon-image"></span>
                                        <input type="text" placeholder="mm/dd/yy" name="IdExpiryDate" class="form-control rounded-start rounded-pill" style="border: 1px solid #8FD2F0;">
                                    </div>

                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Address</span>
                                    <div class="input-group">
                                        <input type="text" name="Address" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                    </div>

                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Emirate</span>
                                    <div class="input-group">
                                        <input type="text" name="Emirate" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                    </div>

                                    <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">P.O. Box</span>
                                    <div class="input-group">
                                        <input type="text" name="PoBox" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                                    </div>

                                    <div class="btn-container my-3">
                                        <button type="button" class="btn rounded-pill backbtn-style cust-prev-step">Back</button>
                                        <button type="button" class="btn rounded-pill btn-style cust-next-step">Next</button>
                                    </div>
                        </div>
                    </div>
                    <div class="custstep custstep-4 mt-5 pt-5">
                        <!-- Step 4 form fields here -->
                        <p style="color: #03213d; font-weight: bold;">Please check your email for verification link</p>
                        <div class="ms-3" style="color: #03213d; font-size: small;">Press the click here button for verify</div>
                        <button type="button" class="btn rounded-pill btn-style1 cust-next-step">Click here</button>
                        <footer class="pt-5 mt-5 ms-2" style="color: #03213d;">Please close this window. <br> You will be resumed from the resumption link</footer>
                    </div>

                    <div class="custstep custstep-5">
                        <!-- Step 5 form fields here -->
                        <p class="mt-4" style="color: #03213d; font-size: 20px;">Congratulations, your customer ID <br> has been generated.</p>
                        <button type="button" class="btn rounded-pill btn-style1 cust-next-step">C-XXXX</button>

                        <p class="mt-5" style="color: #03213d; font-size: 20px;">Please proceed with <br> Move in Request to the property.</p>
                        <a type="button" class="btn rounded-pill btn-style1">Move in Request</a>

                    </div>
                </div>

    </main>


    <script src="/js/Custom.js"></script>
    <script src="/js/Custom2.js"></script>
    <script src="/js/bootstrapjs/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/c5b8d1d3fa.js" crossorigin="anonymous"></script>
</body>

</html>