@model IEnumerable<AQUACOOLCUSTOMER_PORTAL.DTO.AxContract>
@{
    ViewData["Title"] = "AccountHistory";
}
<main>
    <div class="bg-container d-none d-md-flex">
        <div class="left-box "><img src="/images/BG3.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
        <div class="right-box pt-4 rightGrid">
            <div class="icon-text h4">
                <span style="white-space: nowrap;">Account History</span>
            </div>
            <div class="mt-3 input-style">

                <div class="table-container">

                    <table>
                        <thead>
                            <tr>
                                <th>Contact ID</th>
                                <th>Status</th>
                                <th>Project</th>
                                <th>Outstanding Amount</th>
                                <th>Payment</th>
                                <th>Security Deposit Amount</th>
                                <th>Last Payment Date</th>
                            </tr>
                        </thead>
                        @foreach (var m in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@Html.ActionLink(m.ContractID, "Invoices", new { contractId = m.ContractID })</td>
                                    <td>@m.Status</td>
                                    <td>@m.Project</td>
                                    <td>@m.Balance</td>
                                    <td>@Html.ActionLink("Pay", "Invoices", new { contractId = m.ContractID })</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            
                            @* <td>@m.Unit - @m.CustomerType</td>
                           
                            <td>@m.Balance</td>
                            <td>
                                    @Html.ActionLink("Receipts", "Payments", new { contractId = m.ContractID })
                            </td>
                            <td>@m.RequestId</td>
                            <td>
                                    @if (m.CustomerType == "Tenant" || !string.IsNullOrEmpty(m.RequestId))
                                    {
                                        @Html.ActionLink("Initiate Move Out", "InitiateMoveOut", new { ContractID = m.ContractID, RequestId = m.RequestId, CustomerType = m.CustomerType })
                                    }
                            </td>
                            <td style="background-color: aliceblue">
                                    @Html.ActionLink("Pay", "Invoices", new { contractId = m.ContractID })
                            </td> *@
                            </tbody>
                        }
                        </table>
                </div>
            </div>
        </div>
    </div>

    <!--Mobile design-->
    <div class="mb-container d-md-none">
        <div class="mbimage-style ">
            <div class="box rounded shadow-lg">
                <div class="h4 mt-5" style="font-weight: bolder;">Account History</div>
                <div class="mbinput-style">

                    <div class="mbtable-container">

                        <table>
                            <thead>
                                <tr>
                                    <th>Contact ID</th>
                                    <th>Status</th>
                                    <th>Project</th>
                                    <th>Outstanding Amount</th>
                                    <th>Payment</th>
                                    <th>Security Deposit Amount</th>
                                    <th>Last Payment Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Payment Links</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>


</main>