@using ServiceReference1;
@model AQUACOOLCUSTOMER_PORTAL.DTO.ComplaintViewModal;
@{
    ViewData["Title"] = "Complaint";
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/fevicon.png" type="">

    <title>Complaint</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrapcss/bootstrap.min.css" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/Complaint//style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/Complaint/responsive.css" rel="stylesheet" />

</head>

<main>
    <div class="bg-container d-md-flex">
        <div class="left-box "><img src="/images/Stock BG13 Image.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
        <div class="right-box pt-3">
            <div class="icon-text h4">
                <span>Complaint</span>
            </div>
                <div class="input-style mt-3 mb-3">
                      <form method="post" action="@Url.Action("Complaint","Admin")">
                        <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Complain Ticket Type</div>
                        <div class="input-group mb-2">
                            <select class="form-control  rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;" name="SubType" id="complainTypeDropdown">
                                <option value=""> -- Select a complain type -- </option>
                                @{

                                    foreach (var subTypes in Model.SubTypes)
                                    {
                                        <option value="@subTypes.RequestID">@subTypes.Description</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Complain Ticket SubType</div>
                        <div class="input-group mb-2">
                            <select class="form-control  rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;" name="TicketType" id="complainSubTypeDropdown">
                                <option value=""> -- Select a complain type -- </option>
                           
                            </select>
                        </div>
                        <div class="ms-3" id="labelHighbil" style="color: #03213d; font-size: small; font-weight: bolder;">High Bill - Invoice Number</div>
                        <div class="input-group mb-2" >
                            <input type="text" class="form-control rounded-pill" id="HighBillInvoiceNo" name="HighBillInvoiceNo" style="border: 1px solid #8FD2F0;">
                        </div>

                        <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Comment</div>
                        <div class="input-group">
                            <input class="form-control comment-style" name="Comments"  required/>
                        </div>

                        @*  <div class="ms-3 mt-1" style="color: #03213d; font-size: small; font-weight: bolder;">Low Bill - Invoice Number</div>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control rounded-pill" name="LowBillInvoiceNo"  style="border: 1px solid #8FD2F0;">
                        </div>

                        <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Comment</div>
                        <div class="input-group">
                            <input class="form-control comment-style" name="Comments2" />
                        </div> *@

                        <div class="ms-3 mt-1" style="color: #03213d; font-size: small; font-weight: bolder; display:none">Bill Not Recieved - Email Address</div>
                        <div class="input-group mb-2" style="display:none">
                            <input type="email" class="form-control rounded-pill" name="Email" style="border: 1px solid #8FD2F0;" />
                        </div>

                        <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;display:none">Online Payment not Reflecting - Date of Payment</div>
                        <div class="input-group">
                            <span class="input-group-text rounded-pill rounded-end" style="display:none"><img src="./Icons/Date.png" alt="" class="icon-image"></span>
                            <input type="date" class="form-control rounded-start rounded-pill" name="DateOfPayment" placeholder="Fri 15 November 2024" style="border: 1px solid #8FD2F0; display:none">
                            <span style="color:red"> @ViewBag.SuccessMessage</span>
                        </div>
                        <div class="mt-3">
                            <input type="submit" class="btn rounded-pill btn-style" value="Submit"/>
                        </div>
                    </form>
                </div>
          
            <div class="icon-text h5">
                <span style="white-space: nowrap;">Complaint History</span>
            </div>
            <div class="input-style">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Complaint ID</th>
                                <th>Type</th>
                                <th>Stage</th>
                                <th>Status</th>
                                <th>Comments</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item  in Model.ComplaintHistory)
                            {
                                <tr>
                                    <td>@item.ComplaintID</td>
                                    <td>@item.Type</td>
                                    <td>@item.Stage</td>
                                    <td>@item.Status</td>
                                    <td>@item.Comments</td>
                                    <td>
                                        @if (item.Status == "Completed"){
                                        <span>-</span>
                                        }
                                        else{
                                        <button class="btn btn-outline-primary" onclick="escalateTicket('@item.ComplaintID')">Esclate</button>
                                        }
                                      
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="escalationModal" tabindex="-1" aria-labelledby="escalationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-3">
                <div class="modal-header">
                    <h5 class="modal-title" id="escalationModalLabel">Ticket Escalation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="escalationModalBody">
                    <!-- Dynamic content here -->
                </div>
                <div class="modal-footer" id="esclationModalFooeter">
                    @* <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button> *@
                </div>
            </div>
        </div>
    </div>
</main>
<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const dropdown = document.getElementById('complainTypeDropdown');
    const textbox = document.getElementById('HighBillInvoiceNo');
    const lbl = document.getElementById("labelHighbil");

    dropdown.addEventListener('change', function () {
        if (this.value != 'High Bill') {
            textbox.style.display = 'none';
             lbl.style.display = 'none';
        } else {
            textbox.style.display = 'block';
            lbl.style.display = 'block';
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#complainTypeDropdown').on('change', function () {
            var selectedValue = $(this).val();
            if (selectedValue) {
                $.ajax({
                    url: '@Url.Action("GetSubTypes", "Admin")', // Adjust controller name
                    type: 'GET',
                    data: { typeId: selectedValue },
                    success: function (data) {
                        var $subTypeDropdown = $('#complainSubTypeDropdown');
                        $subTypeDropdown.empty();
                        $subTypeDropdown.append($('<option>').val('').text(''));

                        $.each(data, function (i, item) {
                            $subTypeDropdown.append($('<option>').val(item.value).text(item.text));
                        });
                    },
                    error: function () {
                        alert('Error loading subtypes.');
                    }
                });
            } else {
                $('#complainSubTypeDropdown').empty().append($('<option>').val('').text('Select Sub Type'));
            }
        });
         
      
    });
      function escalateTicket(ticketId) {

        $.ajax({
            type: 'POST',
            url: '/Admin/EsclateTicket', // Change this if your controller name is different
            data: { ticketId: ticketId },
            success: function (response) {
                if (response.success) {
                    
                    if(response.result == "False"){
                         $('#escalationModalBody').html(`<strong>Response:</strong> Your Ticket is in process.`);
                    }
                    else if(response.result == "True"){

                         $('#esclationModalFooeter').html(`
                            <button type="button" id='approveBtn' class="btn btn-secondary rounded-pill" onclick="escalateTicketDecison('${ticketId}','True')"  data-bs-dismiss="modal">No</button>
                             <button type="button" id='rejectBtn' class="btn btn-secondary rounded-pill" onclick="escalateTicketDecison('${ticketId}','False')" data-bs-dismiss="modal">Yes</button>
                         `);
                    }
                    else{
                        $('#escalationModalBody').html(`<strong>Response:</strong> ${ response.result}`);
                    }
                    
                } else {
                    $('#escalationModalBody').html("Failed to escalate ticket.");
                }
                var modal = new bootstrap.Modal(document.getElementById('escalationModal'));
                modal.show();
            },
            error: function () {
                $('#escalationModalBody').html("An error occurred while escalating the ticket.");
                var modal = new bootstrap.Modal(document.getElementById('escalationModal'));
                modal.show();
            }
        });
    }
     function escalateTicketDecison(ticketId,userInput) {

        $.ajax({
            type: 'POST',
            url: '/Admin/UserDecison', // Change this if your controller name is different
            data: { ticketId: ticketId, userInput: userInput },
            success: function (response) {
                if (response.success) {

                    if(response.result == "False"){
                         $('#escalationModalBody').html(`<strong>Response:</strong> Your Ticket is in process.`);
                    }
                    else{
                        $('#escalationModalBody').html(`<strong>Response:</strong> ${ response.result}`);
                         $('#approveBtn').hide();
                          $('#rejectBtn').hide();
                    }

                } else {
                    $('#escalationModalBody').html("Failed to escalate ticket.");
                }
                var modal = new bootstrap.Modal(document.getElementById('escalationModal'));
                modal.show();
            },
            error: function () {
                $('#escalationModalBody').html("An error occurred while escalating the ticket.");
                var modal = new bootstrap.Modal(document.getElementById('escalationModal'));
                modal.show();
            }
        });
    }
</script>