@using ServiceReference1;
@model AQUACOOLCUSTOMER_PORTAL.DTO.ComplaintViewModal;
@{
    ViewData["Title"] = "Complaint";
}
<main>
    <div class="bg-container d-none d-md-flex">
        <div class="left-box "><img src="/images/Stock BG13 Image.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
        <div class="right-box pt-3">
            <div class="icon-text h4">
                <span>Complaint</span>
            </div>
            <form method="post" action="@Url.Action("Complaint","Admin")">
                <div class="input-style mt-3">
                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Complain Ticket Type</div>
                    <div class="input-group mb-2">
                        <select class="form-control  rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;" name="SubType" id="complainTypeDropdown">
                            <option value=""> -- Select a complain type -- </option>
                            @{

                                foreach (var subTypes in Model.SubTypes)
                                {
                                    <option value="@subTypes.RequestID">@subTypes.Description</option>
                                }
                            }
                        </select>


                    </div>
                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">High Bill - Invoice Number</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" name="HighBillInvoiceNo" style="border: 1px solid #8FD2F0;">
                    </div>

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Comment</div>
                    <div class="input-group">
                        <input class="form-control comment-style" name="Comments" />
                    </div>

                    @*  <div class="ms-3 mt-1" style="color: #03213d; font-size: small; font-weight: bolder;">Low Bill - Invoice Number</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" name="LowBillInvoiceNo"  style="border: 1px solid #8FD2F0;">
                    </div>

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Comment</div>
                    <div class="input-group">
                        <input class="form-control comment-style" name="Comments2" />
                    </div> *@

                    <div class="ms-3 mt-1" style="color: #03213d; font-size: small; font-weight: bolder;">Bill Not Recieved - Email Address</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" name="Email" style="border: 1px solid #8FD2F0;" />
                    </div>

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Online Payment not Reflecting - Date of Payment</div>
                    <div class="input-group">
                        <span class="input-group-text rounded-pill rounded-end"><img src="./Icons/Date.png" alt="" class="icon-image"></span>
                        <input type="text" class="form-control rounded-start rounded-pill" name="DateOfPayment" placeholder="Fri 15 November 2024" style="border: 1px solid #8FD2F0;">
                        <span style="color:red"> @ViewBag.SuccessMessage</span>
                    </div>
                    <div class="mt-3">
                        <input type="submit" class="btn rounded-pill btn-style" value="Submit"/>
                    </div>

                </div>
            </form>
            <hr />
            <div class="icon-text h4">
                <span style="white-space: nowrap;">Complaint History</span>
            </div>
            <div class="mt-3 input-style">

                <div class="table-container">

                    <table>
                        <thead>
                            <tr>
                                <th>Complaint ID</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item  in Model.ComplaintHistory)
                            {
                                <tr>
                                    <td>@item.ComplaintID</td>
                                    <td>@item.Type</td>
                                    <td>@item.Status</td>
                                    <td><a href="#">Esclate</a></td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Mobile design-->
    <div class="mb-container d-md-none">
        <div class="mbimage-style ">
            <div class="box rounded shadow-lg">
                <div class="h4 pt-1 mt-1" style="font-weight: bolder;">Complaint</div>

                <div class="mbinput-style">

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">High Bill - Invoice Number</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                    </div>

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Comment</div>
                    <div class="input-group">
                        <input class="form-control comment-style"></input>
                    </div>

                    <div class="ms-3 mt-1" style="color: #03213d; font-size: small; font-weight: bolder;">Low Bill - Invoice Number</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                    </div>

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Comment</div>
                    <div class="input-group">
                        <input class="form-control comment-style"></input>
                    </div>

                    <div class="ms-3 mt-1" style="color: #03213d; font-size: small; font-weight: bolder;">Bill Not Recieved - Email Address</div>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control rounded-pill" style="border: 1px solid #8FD2F0;">
                    </div>

                    <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Online Payment not Reflecting - Date of Payment</div>
                    <div class="input-group">
                        <span class="input-group-text rounded-pill rounded-end"><img src="./Icons/Date.png" alt="" class="icon-image"></span>
                        <input type="text" class="form-control rounded-start rounded-pill" placeholder="Fri 15 November 2024" style="border: 1px solid #8FD2F0;">
                    </div>
                    <div class="mt-3">
                        <a href="#" class="btn rounded-pill btn-style">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>