@{
    ViewData["Title"] = "Index";
}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/fevicon.png" type="">

    <title>Dashboard</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrapcss/bootstrap.min.css" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/Login/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/Login/responsive.css" rel="stylesheet" />

</head>
<div class="bg-container d-md-flex">
    <div class="left-box "><img src="/images/BG6.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
    <div class="right-box">

        <!-- Dashboard -->
        <div class="card-head">Dashboard</div>
        <div class="card-row gap-2 ">
           @*  <div>
                <a href="@Url.Action("UserRequests")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Requests</div>
                            <img src="~/Icons/Account-History.png" alt="" style="width: 40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("AllTickets")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Tickets</div>
                            <img src="~/Icons/Account-History.png" alt="" style="width: 40px">
                        </div>
                    </div>
                </a>
            </div> *@
            <div>
                <a href="@Url.Action("AccountHistory")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Account History</div>
                            <img src="~/Icons/Account-History.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("BillCurve")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Bill Curve</div>
                            <img src="~/Icons/Bill-Curve.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- Requests -->
        <div class="card-head">Requests</div>
        <div class="card-row gap-2">
            <div>
                <a href="@Url.Action("MoveinRequest","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Move in</div>
                            <img src="~/Icons/Move-In.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("MoveoutRequest","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Move out</div>
                            <img src="~/Icons/Move-Out.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("ReconnectionRequest","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Reconnection Request</div>
                            <img src="~/Icons/Reconnection-Request.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("UserRequests")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Request Summary</div>
                            <img src="~/Icons/Request-Summary.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Payment -->
        <div class="card-head">Payment</div>
        <div class="card-row gap-2">
            <div>
                <a href="@Url.Action("SubmitPaymentProof","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Submit Payment Proof</div>
                            <img src="~/Icons/Submit-Payment-Proof.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("TransactionHistory")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Transaction History</div>
                            <img src="~/Icons/Transaction-History.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("StatementofAccount","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Statement of Account</div>
                            <img src="~/Icons/Download-Statement-of-Account.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("PaymentsReceipt","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Bill</div>
                            <img src="~/Icons/Download-Bill_Payment-Receipt.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Customer Support -->
        <div class="card-head">Customer Support</div>
        <div class="card-row gap-2">
            <div>
                <a href="#" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Bill Explanation</div>
                            <img src="~/Icons/Bill-Explannation.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("Complaint","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Complaint</div>
                            <img src="~/Icons/Complaint.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Manage Profile -->
        <div class="card-head">Manage Profile</div>
        <div class="card-row gap-2">
            <div>
                <a href="@Url.Action("ChangePasswordRequest","Account")" style="text-decoration: none; ">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Change Password</div>
                            <img src="~/Icons/Change-Password.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("UpdateDocuments","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Update Documents</div>
                            <img src="~/Icons/Update-Document.png" alt="" class="icon-style">
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
