
@{
    ViewData["Title"] = "Index";
}
<div class="bg-container d-none d-md-flex">
    <div class="left-box "><img src="/images/BG6.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
    <div class="right-box pt-3">

        <!-- Dashboard -->
        <div class="ms-1 card-head">Dashboard</div>
        <div class="card-row gap-2 ">
           @*  <div>
                <a href="@Url.Action("UserRequests")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Requests</div>
                            <img src="~/Icons/Account-History.png" alt="" style="width: 40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("AllTickets")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Tickets</div>
                            <img src="~/Icons/Account-History.png" alt="" style="width: 40px">
                        </div>
                    </div>
                </a>
            </div> *@
            <div>
                <a href="@Url.Action("AccountHistory")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Account History</div>
                            <img src="~/Icons/Account-History.png" alt="" style="width: 40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("BillCurve")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Bill Curve</div>
                            <img src="~/Icons/Bill-Curve.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- Requests -->
        <div class="ms-1 card-head">Requests</div>
        <div class="card-row gap-2 ">
            <div>
                <a href="@Url.Action("MoveinRequest","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Move in</div>
                            <img src="~/Icons/Move-In.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("MoveoutRequest","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Move out</div>
                            <img src="~/Icons/Move-Out.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("ReconnectionRequest","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Reconnection Request</div>
                            <img src="~/Icons/Reconnection-Request.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("UserRequests")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Request Summary</div>
                            <img src="~/Icons/Request-Summary.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Payment -->
        <div class="ms-1 card-head">Payment</div>
        <div class="card-row gap-2">
            <div>
                <a href="@Url.Action("SubmitPaymentProof","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Submit Payment Proof</div>
                            <img src="~/Icons/Submit-Payment-Proof.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("TransactionHistory")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Transaction History</div>
                            <img src="~/Icons/Transaction-History.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("StatementofAccount","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Statement of Account</div>
                            <img src="~/Icons/Download-Statement-of-Account.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="@Url.Action("PaymentsReceipt","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Bill</div>
                            <img src="~/Icons/Download-Bill_Payment-Receipt.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Customer Support -->
        <div class="ms-1 card-head">Customer Support</div>
        <div class="card-row gap-2">
            <div>
                <a href="#" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Bill Explanation</div>
                            <img src="~/Icons/Bill-Explannation.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("Complaint","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Complaint</div>
                            <img src="~/Icons/Complaint.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Manage Profile -->
        <div class="ms-1 card-head">Manage Profile</div>
        <div class="card-row gap-2">
            <div>
                <a href="@Url.Action("ChangePasswordRequest","Account")" style="text-decoration: none; ">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Change Password</div>
                            <img src="~/Icons/Change-Password.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="@Url.Action("UpdateDocuments","Admin")" style="text-decoration: none;">
                    <div class="card text-center shadow">
                        <div class="card-body rounded">
                            <div class="card-text">Update Documents</div>
                            <img src="~/Icons/Update-Document.png" alt="" style="width:40px">
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>



<!--Mobile design-->
<div class="mb-container d-md-none">
    <div class="mbimage-style ">
        <div class="box rounded shadow-lg">


            <!-- Dashboard -->
            <div class="ms-1 card-head">Dashboard</div>
            <div class="card-row gap-2">
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Account History</div>
                                <img src="~/Icons/Account-History.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Bill Curve</div>
                                <img src="~/Icons/Bill-Curve.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <!-- Requests -->
            <div class="ms-1 card-head mt-2">Requests</div>
            <div class="card-row gap-2 ">
                <div>
                    <a href="@Url.Action("MoveinRequest","Admin")" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Move in</div>
                                <img src="~/Icons/Move-In.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="@Url.Action("MoveoutRequest","Admin")" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Move out</div>
                                <img src="~/Icons/Move-Out.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="@Url.Action("ReconnectionRequest","Admin")" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Reconnection Request</div>
                                <img src="~/Icons/Reconnection-Request.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Request Summary</div>
                                <img src="~/Icons/Request-Summary.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Payment -->
            <div class="ms-1 card-head mt-2">Payment</div>
            <div class="card-row gap-2">
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Submit Payment Proof</div>
                                <img src="~/Icons/Bill-Curve.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Transaction History</div>
                                <img src="~/Icons/Transaction-History.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="StatementofAccount" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Statement of Account</div>
                                <img src="~/Icons/Download-Statement-of-Account.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="PaymentReceipt" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Bill/Payment Receipt</div>
                                <img src="~/Icons/Download-Bill_Payment-Receipt.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Customer Support -->
            <div class="ms-1 card-head mt-2">Customer Support</div>
            <div class="card-row gap-2">
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Bill Explanation</div>
                                <img src="~/Icons/Bill-Explannation.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Complaint</div>
                                <img src="~/Icons/Complaint.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Manage Profile -->
            <div class="ms-1 card-head mt-2">Manage Profile</div>
            <div class="card-row gap-2">
                <div>
                    <a href="@Url.Action("ChangePassword","Account")" style="text-decoration: none; ">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Change Password</div>
                                <img src="~/Icons/Change-Password.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" style="text-decoration: none;">
                        <div class="card text-center shadow" style="width: 18vw; height: 10vh; ">
                            <div class="card-body rounded">
                                <div class="mbcard-text">Update Documents</div>
                                <img src="~/Icons/Update-Document.png" alt="" style="width:40px">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

