@using AQUACOOLCUSTOMER_PORTAL.DTO
@{
    ViewData["Title"] = "MoveInTickets";
    var InTickets = (List<AxTicketDetails>)ViewBag.InTickets;

}
<div class="col-md-12">
    @if (InTickets.Count > 0)
    {
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <th>Ticket Id</th>
                <th>Status</th>
                <th>Request Type</th>
                <th>Balance</th>
                <th>Contract Id</th>
                <th>Pay</th>
                <th>Action</th>
            </tr>

            @foreach (var m in InTickets)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Status</td>
                    <td>@m.RequestType</td>
                    <td>@m.Balance</td>
                    <td>@m.ContractId</td>
                    <td>
                        @if (m.Status.ToLower() == "completed" && double.Parse(m.Balance) > 0 && !string.IsNullOrEmpty(m.ContractId))
                        {
                            @Html.ActionLink("Pay", "MoveInCharges", "User2", new { Contract = m.ContractId, Ticket = m.Id }, null)
                        }
                    </td>

                    <td>
                        @if (m.Status.ToLower() == "not submitted" || m.Status.ToLower() == "pending under customer")
                        {
                            @Html.ActionLink("Upload Files", "NewRegistration", new { Id = m.Id })
                        }

                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-success">
            You do not have any Move In Tickets.
        </div>
    }
</div>
    @* <main>
        <div class="bg-container d-none d-md-flex">
            <div class="left-box "><img src="/images/BG16.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
            <div class="right-box pt-4">
                <div class="icon-text h4">
                    <span style="white-space: nowrap;">Move in Request</span>
                </div>
                <div class="mt-3 input-style">

                    <div class="table-container">

                        <table>
                            <thead>
                                <tr>
                                    <th>Document Upload</th>
                                    <th>Type Applicable</th>
                                    <th>Expiry Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Emirates ID</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Passport</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Visa</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Tenancy Contract</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Title Deed</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Trade License</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Power of Attorney</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="main-container">

                        <div class="left-container">
                            <div class="btn-conatiner">
                                <a href="#" class="btn rounded-pill btn-style mt-3">Complete move in request</a>
                                <a href="#" class="btn rounded-pill btn-style mt-3">Complete Move in Request and initiate new one</a>
                                <a href="#" class="btn rounded-pill btn-style mt-3">Save current request and return later for submission</a>
                            </div>
                            <p class="mt-1" style="color: #03213d; font-size: 0.8vw;">* The service time-frame is capped at 4 Business days, dependent on the resolution of the outstanding balance by the existing customer.</p>
                        </div>

                        <div class="right-container mt-2 ms-2">
                            <div class="ms-3" style="color: #03213d; font-size: 0.6vw; font-weight: bolder; white-space: nowrap;">Signing Area as per eID</div>
                            <div class="box-container">
                                <input class="form-control rounded sign-box" type="text">
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!--Mobile design-->
        <div class="mb-container d-md-none">
            <div class="mbimage-style ">
                <div class="box rounded shadow-lg">
                    <div class="h4 mt-5" style="font-weight: bolder;">Move in Request</div>
                    <div class="mbinput-style">

                        <div class="table-container">

                            <table>
                                <thead>
                                    <tr>
                                        <th>Document Upload</th>
                                        <th>Type Applicable</th>
                                        <th>Expiry Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Emirates ID</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td>Passport</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td>Visa</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td>Tenancy Contract</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td>Title Deed</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td>Trade License</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td>Power of Attorney</td>
                                        <td>Individual(owner or tenant)</td>
                                        <td>xx/xx/xxx</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="main-container">

                            <div class="left-container">
                                <div class="btn-conatiner">
                                    <a href="#" class="btn rounded-pill btn-style mt-3">Complete move in request</a>
                                    <a href="#" class="btn rounded-pill btn-style mt-3">Complete Move in Request and initiate new one</a>
                                    <a href="#" class="btn rounded-pill btn-style mt-3">Save current request and return later for submission</a>
                                </div>
                                <p class="mt-1 comment-style">* The service time-frame is capped at 4 Business days, dependent on the resolution of the outstanding balance by the existing customer.</p>
                            </div>

                            <div class="right-container mt-2 ms-2">
                                <div class="ms-1 sign-text">Signing Area as per eID</div>
                                <div class="box-container">
                                    <input class="form-control rounded sign-box" type="text">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </main> *@
