@using ServiceReference1;
@model AQUACOOLCUSTOMER_PORTAL.DTO.MoveOutRequestModel
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "MoveOutRequest";
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/fevicon.png" type="">

    <title>Move in Request</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrapcss/bootstrap.min.css" />


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/MoveoutRequest/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/MoveoutRequest/responsive.css" rel="stylesheet" />

</head>


<div class="bg-container d-md-flex">
    <div class="left-box">
        <img src="~/images/Stock BG11 Image.jpg" class="rounded-start rounded-pill img-style" alt="" />
    </div>
    <div class="right-box">
        <form asp-action="MoveOutRequest" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <div class="noc-wrapper position-absolute"
             style="top: 30px; right: 130px; z-index: 10;">
            <div class="upload-card text-center" style="width:180px;">
                <p class="mb-1" style="font-size:13px;">Attach the NOC from the owner.</p>
                <label for="NOCFile" class="upload-button">Attach NOC</label>
                <input type="file" id="NOCFile" name="NOCFile" accept=".pdf,.doc,.docx,.jpg,.png" />
                <div id="nocError" style="color:red; display:none;">Please attach the NOC file.</div>
            </div>
        </div>

        @Html.Partial("_Messages")

        <div class="icon-text h4">
            <span>Create Move Out Request</span>
        </div>

        <div class="input-style">
            @* <form asp-action="MoveOutRequest" asp-controller="Admin" method="post" enctype="multipart/form-data"> *@
                <span class="ms-3" style="color:#03213d; font-size:small; font-weight:bolder;">Select a Contract</span>
                <div class="input-group">
                    <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown"></span>
                    <select asp-for="ContractId" class="form-control rounded-start rounded-pill" id="contractDropDown" required style="border: 1px solid #8FD2F0;" asp-items="@(new SelectList((List<SelectListItem>)ViewBag.ActiveContracts, "Value", "Text"))">
                        <option value="">Select a Contract</option>
                    </select>
                </div>

                <span class="ms-3" style="color:#03213d; font-size:small; font-weight:bolder;">Project Selection</span>
                <div class="input-group">
                    <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown"></span>
                    <select asp-for="ProjectId" id="projectDropdown" class="form-control rounded-start rounded-pill" required style="border:1px solid #8FD2F0;" asp-items="@(new SelectList((IEnumerable<Projects>)ViewBag.Projects, "Id", "Name"))">
                        <option value="">Select a project</option>
                    </select>
                </div>

                <div class="ms-3 " style="color:#03213d; font-size:small; font-weight:bolder;">Unit Number</div>
                <div class="input-group mb-2">
                    <select type="text" class="form-control rounded-pill" name="UnitNumber" id="unitNumbersDropdown" style="background-color: #cff2c9;">
                        @* <option value="value">text</option> *@
                    </select>

                </div>

                @* <span class="ms-3" style="color:#03213d; font-size:small; font-weight:bolder;">Select a Contract</span>
                            <div class="input-group">
                                <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown"></span>
                                <select asp-for="ContractId" class="form-control rounded-start rounded-pill" required style="border: 1px solid #8FD2F0;" asp-items="@(new SelectList((List<SelectListItem>)ViewBag.ActiveContracts, "Value", "Text"))">
                                    <option value="">Select a Contract</option>
                                </select>
                            </div> *@

                <div class="ms-3" style="color:#03213d; font-size:small; font-weight:bolder;">Select Move Out Date</div>
                <div class="input-group">
                    <span class="input-group-text rounded-pill rounded-end">
                        <img src="~/Icons/Date.png" alt="" style="width:25px;" />
                    </span>
                    <input asp-for="MoveOutDate" type="date" class="form-control rounded-start rounded-pill" required style="border:1px solid #8FD2F0;" />
                </div>
                <div class="ms-3" style="color:#48b4e6; font-size:small; font-weight:500;">(Note: On the move out date the service will be disconnected)</div>

                <div class="ms-3" style="color:#03213d; font-size:small; font-weight:bold;">How do you want your refund processed through?</div>
                <span class="form-check form-check-inline ms-3">
                    <input style="border: 1px solid #8FD2F0;" type="checkbox" checked class="form-check-input  refund-option" name="Cheque" id="Cheque">
                    <label style="color: #03213d; font-size: small; font-weight: bolder;" class="form-check-label" for="Cheque">Cheque</label>
                </span>

                <div class="form-check form-check-inline mt-1 ms-5">
                    <input style="border: 1px solid #8FD2F0;" type="checkbox" name="bank" class="form-check-input  refund-option" id="BankTransfer">
                    <label style="color: #03213d; font-size: small; font-weight: bolder;" class="form-check-label" for="BankTransfer">Bank Transfer</label>
                </div>

                <div class="BankInfo">
                    <div class="input-group mb-1">
                        <span class="input-group-text rounded-pill rounded-end" style="color: #03213d; font-size: x-small; font-weight: bolder; width: 80px;">Bank Name</span>
                        <select asp-for="ShortName" class="form-control rounded-start rounded-pill" style="border: 1px solid #8FD2F0;" asp-items="@(new SelectList((List<SelectListItem>)ViewBag.BankNameList, "Value", "Text"))">
                            <option value="">Select a bank</option>
                        </select>
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text rounded-pill rounded-end" style="color: #03213d; font-size: x-small; font-weight: bolder; width: 80px;">IBAN</span>
                        <input asp-for="IBanNo" id="IBanNo" class="form-control rounded-start rounded-pill" maxlength="25" style="border:1px solid #8FD2F0;" />
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text rounded-pill rounded-end" style="color: #03213d; font-size: x-small; font-weight: bolder;">Account No.</span>
                        <input asp-for="AccountNumber" class="form-control rounded-start rounded-pill" maxlength="20" style="border:1px solid #8FD2F0;" />
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text rounded-pill rounded-end" style="color: #03213d; font-size: x-small; font-weight: bolder;">Swift No.</span>
                        <input asp-for="SwiftNo" class="form-control rounded-start rounded-pill" style="border:1px solid #8FD2F0;" />
                    </div>

                    <div class="d-flex align-items-center mb-1" style="gap:10px; width:100%;">
                        @if (!(bool)ViewBag.OTPReady)
                        {
                            <input asp-for="OTP"
                                   class="form-control rounded-pill"
                                   placeholder="Please enter 6 digit OTP"
                                   disabled autocomplete="off"
                                   style="border: 1px solid #8FD2F0;" />

                            <button type="submit"
                                    name="submitButton"
                                    value="getotp"
                                    class="btn rounded-pill btnnext-style">
                                Get OTP
                            </button>
                        }
                        else
                        {
                            <input asp-for="OTP"
                                   class="form-control rounded-pill"
                                   placeholder="Please enter 6 digit OTP"
                                   autocomplete="off"
                                   style="border: 1px solid #8FD2F0;" />

                            <button type="submit"
                                    name="submitButton"
                                    value="validate"
                                    class="btn rounded-pill btnnext-style">
                                Validate OTP
                            </button>

                            <button type="submit"
                                    name="submitButton"
                                    value="resendotp"
                                    class="btn rounded-pill btnnext-style">
                                Resend OTP
                            </button>
                        }
                    </div>
                </div>
                <input type="submit" class="btn rounded-pill btnnext-style" id="submitButton" name="submitButton" value="Submit" />
           @*  </form> *@
        </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const checkboxes = document.querySelectorAll('.refund-option');
        const bankInfoDiv = document.querySelector('.BankInfo');
        const submitButton = document.getElementById('submitButton');
        const ibanField = document.getElementById("IBanNo");
        const bankTransferCheckbox = document.getElementById("BankTransfer");

        // Default UI
        bankInfoDiv.style.display = 'none';
        submitButton.value = 'Submit';

        // 1️⃣ Attach checkbox change handlers FIRST
        checkboxes.forEach(cb => {
            cb.addEventListener('change', function () {

                if (this.checked) {

                    // Uncheck others
                    checkboxes.forEach(other => {
                        if (other !== this) other.checked = false;
                    });

                    if (this.id === 'BankTransfer') {
                        bankInfoDiv.style.display = 'block';
                        submitButton.value = 'Next';
                    } else {
                        bankInfoDiv.style.display = 'none';
                        submitButton.value = 'Submit';
                    }
                }
            });
        });

        // 2️⃣ THEN trigger click if IBAN exists
        if (ibanField && ibanField.value.trim() !== "" && bankTransferCheckbox && !bankTransferCheckbox.checked) {
            bankTransferCheckbox.click(); // 🔥 now works fully
        }

    });
</script>




@* <script>
    const checkboxes = document.querySelectorAll('.refund-option');
    const bankInfoDiv = document.querySelector('.BankInfo');
    const submitButton = document.querySelector('#submitButton');
    const nextButton = document.querySelector('#nextButton');
   
    document.addEventListener("DOMContentLoaded", function () {
        const field = document.getElementById("IBanNo");   // text field
    const bankCheckbox = document.getElementById("bankDetails"); // checkbox

    if (field && bankCheckbox && field.value.trim() !== "") {
        bankCheckbox.checked = true;
    }
});
    checkboxes.forEach(cb => {
        cb.addEventListener('change', function () {
            if (this.checked) {
                // Uncheck other checkboxes
                checkboxes.forEach(other => {
                    if (other !== this) {
                        other.checked = false;
                    }
                });

                // Show/hide BankInfo
                if (this.id === 'BankTransfer') {
                    bankInfoDiv.style.display = 'block';
                    //submitButton.style.display = 'none';
                    submitButton.value = 'Next'; // set to "Next"

                } else {
                    bankInfoDiv.style.display = 'none';
                    submitButton.style.display = 'block';
                    submitButton.value = 'Submit'; // set to "Submit"
                }
            } else {
                // If unchecking the current option, hide BankInfo as well
                bankInfoDiv.style.display = 'none';
                submitButton.style.display = 'block';
            }
        });
    });

    // Optional: Hide BankInfo by default
    bankInfoDiv.style.display = 'none';

    // error for file
    document.querySelector('form').addEventListener('submit', function (e) {
        const fileInput = document.getElementById('NOCFile');
        const errorDiv = document.getElementById('nocError');

        if (!fileInput.files || fileInput.files.length === 0) {
            e.preventDefault(); // Stop form submission
            errorDiv.style.display = 'block';
            fileInput.focus();
        } else {
            errorDiv.style.display = 'none'; // Hide error if file is selected
        }
    });
</script> *@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/moveout.js"></script>