@model AQUACOOLCUSTOMER_PORTAL.DTO.AxRequests
@{
    ViewData["Title"] = "NewRegistration";
    var docs = (List<AQUACOOLCUSTOMER_PORTAL.DTO.AxDocs>)ViewBag.Status;
    var eid = docs.FirstOrDefault(x => x.FileName.ToLower().StartsWith("emiratesid"));
    var pas = docs.FirstOrDefault(x => x.FileName.ToLower().StartsWith("passport"));
    var vis = docs.FirstOrDefault(x => x.FileName.ToLower().StartsWith("visa"));
    var tde = docs.FirstOrDefault(x => x.FileName.ToLower().StartsWith("titledeed"));
    var ten = docs.FirstOrDefault(x => x.FileName.ToLower().StartsWith("tenancy"));
    var oth = docs.FirstOrDefault(x => x.FileName.ToLower().StartsWith("otherdocuments"));
    var showStatus = "Verified";
}

@* <link href="~/Content/signature-pad.css" rel="stylesheet" />

<div class="container about_home">
    @* <h5 style="float: right">@User.Identity.Name</h5> *

    <h1 class="page-header">
        <img src="~/images/icons/status.png" style="width: 40px; margin-top: -10px; margin-right: 10px;" />
        New Registration Request
    </h1>

    
    <div class="col-md-12">
        @Html.Partial("_Messages")

        @if (ViewBag.Id == null)
        {
            <div ng-controller="RegistrationController as vm" ng-init="vm.init()">
                <div class="section-heading">Property Information</div>

                @using (Html.BeginForm("NewRegistration", "User2", FormMethod.Post, new { id = "userForm", name = "userForm" }))
                {
                    @Html.Partial("_NewRegistration", Model)
                }
            </div>
        }
        else
        {
            <div>
                <div class="section-heading">Upload Documents and Signature</div>

               @*  @Html.Partial("_Documents") *

                @using (Html.BeginForm("Complete", "Admin", FormMethod.Post, new { id = "myForm", name = "myForm" }))
                {
                    <div class="form-group">
                        <input type="hidden" id="Id" name="Id" value="@ViewData["Id"]" />
                    </div>

                    @Html.Partial("_Signature")
                }
            </div>
        }
    </div>
</div> *@
<link href="~/css/moveinrequest2/responsive.css" rel="stylesheet" />
<link href="~/css/moveinrequest2/style.css" rel="stylesheet" />
<main>
    <div class="bg-container d-none d-md-flex">
        <div class="left-box "><img src="/images/BG16.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
        <div class="right-box pt-4">
            <div class="icon-text h4">
                @Html.Partial("_Messages")
                <span style="white-space: nowrap;">Move in Request</span>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>File Name</th>
                    <th>Status</th>
                </tr>
                @foreach (var s in docs)
                {
                    <tr>
                        <td>@s.FileName</td>
                        <td>@s.Status</td>
                    </tr>
                }
            </table>
            <input type="hidden" id="reqID" name="reqID" value="@ViewData["Id"]" />
            <div class="mt-3 input-style">

                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Document Upload</th>
                                <th>Type Applicable</th>
                                <th>Expiry Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (eid == null || eid.Status != showStatus)
                                {
                                    <td>Emirates ID</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (eid != null && eid.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                        
                                        @* <div class="form-group">
                                            @(Html.Kendo().Upload().Name("emiratesid").Messages(m =>
                                                {
                                                    m.Select("Upload Emirates Id");
                                                    m.InvalidMaxFileSize("File size should be less than 3 MB.");
                                                    m.InvalidFileExtension("Only pdf files are allowed");
                                                }).Multiple(true).Events(e =>
                                                {
                                                    e.Upload("upload");
                                                }).Validation(v =>
                                                {
                                                    v.AllowedExtensions(new[] { ".pdf", ".jpg", ".jpeg", ".png" });
                                                    v.MaxFileSize(3145728);
                                                }).Async(a =>
                                                {
                                                    a.Save("Uploads", "User2");
                                                    a.AutoUpload(true);
                                                    a.SaveField("files");
                                                }))
                                        </div> *@
                                }
                                else
                                {
                                    <td class="status"><strong>Emirates Id is @eid.Status</strong></td>
                                }
                              
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Passport</td>
                               @if (eid == null || eid.Status != showStatus)
                                {
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (pas != null && pas.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="status"><strong>Emirates Id is @eid.Status</strong></td>
                                }
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Visa</td>
                                @if (vis == null || vis.Status != showStatus)
                                {
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (vis != null && vis.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="status"><strong>Visa is @vis.Status</strong></td>
                                }
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Tenancy Contract</td>
                               @if (ten == null || ten.Status != showStatus)
                                {
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (ten != null && ten.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                        
                                        @* <div class="form-group">
                                            @(Html.Kendo().Upload().Name("emiratesid").Messages(m =>
                                                {
                                                    m.Select("Upload Emirates Id");
                                                    m.InvalidMaxFileSize("File size should be less than 3 MB.");
                                                    m.InvalidFileExtension("Only pdf files are allowed");
                                                }).Multiple(true).Events(e =>
                                                {
                                                    e.Upload("upload");
                                                }).Validation(v =>
                                                {
                                                    v.AllowedExtensions(new[] { ".pdf", ".jpg", ".jpeg", ".png" });
                                                    v.MaxFileSize(3145728);
                                                }).Async(a =>
                                                {
                                                    a.Save("Uploads", "User2");
                                                    a.AutoUpload(true);
                                                    a.SaveField("files");
                                                }))
                                        </div> *@
                                }
                                else
                                {
                                    <td class="status"><strong>Tentacy Id is @ten.Status</strong></td>
                                }
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Title Deed</td>
                                @if (tde == null || tde.Status != showStatus)
                                {
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (tde != null && tde.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="status"><strong>Title Dead is @tde.Status</strong></td>
                                }
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Trade License</td>
                                @if (eid == null || eid.Status != showStatus)
                                {
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (eid != null && eid.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="status"><strong>Emirates Id is @eid.Status</strong></td>
                                }
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Power of Attorney</td>
                               @if (eid == null || eid.Status != showStatus)
                                {
                                    <td>Individual(owner or tenant)</td>
                                    <td>
                                        <input type="date" id="expirydate" name="expirydate"
                                               class="form-control expirydate" style=""
                                               value="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
                                               min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    </td>
                                    <td>
                                        <input type="file" id="emiratesid" name="emiratesid" data-doc="emiratesid"
                                               class="fileUpload" accept=".pdf, .jpg, .jpeg, .png" multiple />
                                        @if (eid != null && eid.Status == "Change")
                                        {
                                            <span><strong style="color:red;">Please re upload the document</strong></span>
                                        }
                                    </td>
                                       
                                }
                                else
                                {
                                    <td class="status"><strong>Emirates Id is @eid.Status</strong></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                @using (Html.BeginForm("Complete", "Admin", FormMethod.Post, new { id = "myForm", name = "myForm" }))
                {
                <div class="main-container">
                    
                    <div class="left-container">
                        <div class="btn-conatiner">
                                <input type="submit" class="btn rounded-pill btn-style mt-3" value="Complete move in request"/>
                            <a href="#" class="btn rounded-pill btn-style mt-3">Complete Move in Request and initiate new one</a>
                            <a href="#" class="btn rounded-pill btn-style mt-3">Save current request and return later for submission</a>
                        </div>
                        <p class="mt-1" style="color: #03213d; font-size: 0.8vw;">* The service time-frame is capped at 4 Business days, dependent on the resolution of the outstanding balance by the existing customer.</p>
                    </div>

                    <div class="right-container mt-2 ms-2">
                        <div class="ms-3" style="color: #03213d; font-size: 0.6vw; font-weight: bolder; white-space: nowrap;">Signing Area as per eID</div>
                        <div class="box-container">
                            @* @using (Html.BeginForm("Complete", "Admin", FormMethod.Post, new { id = "myForm", name = "myForm" }))
                            { *@
                                <div class="form-group">
                                    <input type="hidden" id="Id" name="Id" value="@ViewData["Id"]" />
                                </div>

                                @Html.Partial("_Signature")
                         
                        </div>

                    </div>
                    
                </div>
                }

            </div>
        </div>
    </div>

    <!--Mobile design-->
    <div class="mb-container d-md-none">
        <div class="mbimage-style ">
            <div class="box rounded shadow-lg">
                <div class="h4 mt-5" style="font-weight: bolder;">Move in Request</div>
                <div class="mbinput-style">

                    <div class="table-container">

                        <table>
                            <thead>
                                <tr>
                                    <th>Document Upload</th>
                                    <th>Type Applicable</th>
                                    <th>Expiry Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Emirates ID</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Passport</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Visa</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Tenancy Contract</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Title Deed</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Trade License</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Power of Attorney</td>
                                    <td>Individual(owner or tenant)</td>
                                    <td>xx/xx/xxx</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="main-container">

                        <div class="left-container">
                            <div class="btn-conatiner">
                                <a href="#" class="btn rounded-pill btn-style mt-3">Complete move in request</a>
                                <a href="#" class="btn rounded-pill btn-style mt-3">Complete Move in Request and initiate new one</a>
                                <a href="#" class="btn rounded-pill btn-style mt-3">Save current request and return later for submission</a>
                            </div>
                            <p class="mt-1 comment-style">* The service time-frame is capped at 4 Business days, dependent on the resolution of the outstanding balance by the existing customer.</p>
                        </div>

                        <div class="right-container mt-2 ms-2">
                            <div class="ms-1 sign-text">Signing Area as per eID</div>
                            <div class="box-container">
                                <input class="form-control rounded sign-box" type="text">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('.fileUpload').change(function () {
                var fileInput = $(this);
                var file = fileInput[0].files[0];
                var documentType = fileInput.data('doc');
                var statusCell = fileInput.closest('tr').find('.status');
                var expirydate = fileInput.closest('tr').find('.expirydate');
                if (!file) {
                    statusCell.html('<span class="error">No file selected.</span>');
                    return;
                }

                var formData = new FormData();
                formData.append("file", file);
                formData.append("type", documentType); // Send document type
                formData.append("expirydate", expirydate.val());
                formData.append("Id",document.getElementById('reqID').value);
                $.ajax({
                    url: "/Admin/Uploads", // Update with your controller action
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        statusCell.html('<span class="success">Uploaded: ' + response.fileName + '</span>');
                    },
                    error: function (xhr, status, error) {
                        statusCell.html('<span class="error">Error uploading file.</span>');
                    }
                });
            });
        });
    </script>
}


