@using AQUACOOLCUSTOMER_PORTAL.DTO
@using ServiceReference1;
@model ReconnectionViewModal
@{
    ViewData["Title"] = "SubmitPaymentProof";
}
<link href="~/css/submitpaymentproof/style.css" rel="stylesheet" />
<link href="~/css/submitpaymentproof/responsive.css" rel="stylesheet" />

<div class="bg-container d-none d-md-flex">
    <div class="left-box "><img src="/images/BG10.jpg" class="rounded-start rounded-pill img-style" alt=""></div>
    <div class="right-box pt-4">
        <div class="icon-text h4">
            <span>Submit Payment Proof</span>
        </div>
        <form action="@Url.Action("SubmitPaymentProof","Admin")" method="post" enctype="multipart/form-data">
            <div class="mt-5 input-style">
                @*   <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Project Selection</span>
             <div class="input-group">
                <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></span>
                <input type="text" class="form-control rounded-start rounded-pill" placeholder="Select" style="border: 1px solid #8FD2F0;">
                <div class="dropdown-menu shadow-lg " style="border: 1px solid #8FD2F0;" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> *@
                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Project Selection</span>
                <select class="form-control  rounded-pill" required placeholder="Select" style="border: 1px solid #8FD2F0;" id="projectDropdown">
                    <option value="">Select a project</option>
                    @{
                        <option value="">project</option>
                        foreach (var project in (Projects[])ViewBag.projects)
                        {
                            <option value="@project.Id">@project.Name</option>
                        }
                    }
                </select>

                <span class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">EAG Selection</span>
                <div class="input-group">
                    <span class="input-group-text rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></span>
                    <select class="form-control  rounded-pill" required placeholder="Select" style="border: 1px solid #8FD2F0;" name="EAG" id="contractDropdown">
                        <option value="">Select a contract</option>
                        @{
                            foreach (var item in Model.ContractIDs)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        }
                    </select>
                </div>


                <div class="ms-3 mt-2" style="color: #03213d; font-size: small; font-weight: bolder;">Invoice Number</div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control rounded-pill" required name="Invoice" style="border: 1px solid #8FD2F0;">
                </div>


                <div class="ms-3" style="color: #03213d; font-size: small; font-weight: bolder;">Date of Payment</div>
                <div class="input-group">
                    <span class="input-group-text rounded-pill rounded-end"><img src="./Icons/Date.png" alt="" class="icon-image"></span>
                    <input type="date" class="form-control rounded-start rounded-pill" required name="PaymentDate" placeholder="Fri 15 November 2024" style="border: 1px solid #8FD2F0;">
                </div>

                <div class="radio-btn">
                    <div class="ms-3 mt-3" style="color: #03213d; font-size: small; font-weight: bold;">Payment Method</div>

                    <span class="form-check form-check-inline ms-3 mt-1">
                        <input type="checkbox" class="form-check-input payment-method" name="PaymentMethod" value="Cheque" id="cheque">
                        <label class="form-check-label" for="cheque">Cheque</label>
                    </span>

                    <span class="form-check form-check-inline ms-3 mt-1">
                        <input type="checkbox" class="form-check-input payment-method" name="PaymentMethod" value="BankTransfer" id="bankTransfer">
                        <label class="form-check-label" for="bankTransfer">Bank Transfer</label>
                    </span>

                    <span class="form-check form-check-inline ms-3 mt-1">
                        <input type="checkbox" class="form-check-input payment-method" name="PaymentMethod" value="ATMCashDeposit" id="atmCashDeposit">
                        <label class="form-check-label" for="atmCashDeposit">ATM Deposit</label>
                    </span>
                    <input type="file" name="file" class="form-control" />
                    <button type="submit" class="btn rounded-pill btn-style mt-3">Submit</button>
                </div>
        </form>
       
    </div>
</div>

<!--Mobile design-->
<div class="mb-container d-md-none">
</div>
<script>
    // Get all payment method checkboxes
    const checkboxes = document.querySelectorAll('.payment-method');

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            if (this.checked) {
                checkboxes.forEach(cb => {
                    if (cb !== this) cb.checked = false;
                });
            }
        });
    });
</script>